<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="../static/styles/book.css" th:href="@{/styles/book.css}" rel="stylesheet"/>
</head>
<body>
<div class="error-block" th:if="${error != null}">
    <h3>Error: <span th:text="${error.code}">500</span></h3>
    <span class="error" th:text="${error.message}">Error text</span>
    <span th:if="${error.fieldsErrors != null && error.fieldsErrors.size() > 0}"
          th:each="e : ${error.fieldsErrors}"
          class="error" th:text="${e.field} + ' - ' +${e.message}">Error details</span>
</div>
</body>
</html>