<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="../static/styles/book.css" th:href="@{/styles/book.css}" rel="stylesheet"/>
</head>
<body>
<div class="menu">
    <h3>Library</h3>
    <p><a class="btn btn-primary" th:href="@{'/books'}" href="./books/list.html">Books</a></p>
    <p><a class="btn btn-primary" th:href="@{'/genres'}" href="./genres/list.html">Genres</a></p>
    <p><a class="btn btn-primary" th:href="@{'/authors'}" href="./authors/list.html">Authors</a></p>
</div>

</body>
</html>