<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/styles/book.css" th:href="@{/styles/book.css}" rel="stylesheet"/>
</head>
<body>
<h1 th:text="'Create comment for book #' + ${comment.bookId}">Create comment</h1>
<form class="comment-form" action="#" th:action="@{/comments/create}" th:object="${comment}" method="post">
    <input type="hidden" name="bookId" th:value="*{bookId}">
    <div class="form-field">
        <label for="bookTitle">Comment</label>
        <input id="bookTitle" type="text" th:field="*{content}">
    </div>
    <p><input type="submit" value="Submit"/></p>
    <p><a class="btn btn-primary" th:href="@{'/books/view/{id}'(id=*{bookId})}" href="../books/view.html">Back</a></p>
    <div th:replace="fragments/error :: error-block">Error</div>
</form>
</body>
</html>